.popUp-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}
.popUp-inner{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 15%;
    bottom: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.close-submit-popup{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 25px;
    color:white;

}
.submit-popup-menu{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-popup-menu img{
    width: 100%;
    height: 100%;
}
.pop-up-gallery-left{
    position: absolute;
    left:-15%;
    top:50%;
}
.pop-up-gallery-right{
    position: absolute;
    right:-15%;
    top:50%;
}
.photo-gallary-button-pop-up{
    border-color: orange;
    border-style: solid;
    border-width: 1px;
    width:5%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pop-up-gallery-svg path{
    stroke: #FD7823;
}