.donation{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.laptop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 700px;
}

.laptop img{
   width: 45%;
   height: 69%;
   margin-left: 40px;
   margin-top: 6%;
}

.text{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 14%;
    background-color: rgba(253, 120, 35, 1);
    margin-left: 5%;
    margin-top: 75px;
}

.text img{
    width: 60%;
    height: 100%;
    position: relative;
    margin-top:0;
}


.li-a{
    width: 13px;
    height: 12px;
    background-color:rgba(253, 120, 35, 1) ;
    display: flex;  
}

.text-a{
    margin-top: 42px;
    width: 100%;
    height: 96px;
    font-size: 14px;
}

.li-b{
    width: 13px;
    height: 12px;
    background-color:rgba(253, 120, 35, 1) ;
}

.text-b{
    margin-top: 88px;
    margin-left: 30%;
    width: 100%;
    height: 96px;
    font-size: 14px;
}

.text-a p{
    display: flex;
    align-items: flex-start;
}

.text-b p{
    display: flex;
    align-items: flex-start; 
}

.paint img{
    width: 100%;
    height: auto;
}





